[Unit]
Description=Watchman Web Service
After=network.target remote-fs.target

[Service]
Type=simple
User=www
Group=apache

ExecStart=/var/www/html/watchmen/run-web-server.sh
WorkingDirectory=/var/www/html/watchmen

[Install]
WantedBy=multi-user.target
