<!doctype html>
<html lang="en" ng-app="watchmenApp">
  <head>
    <title>watchmen, http monitor for node.js - <%= title %></title>
    <link rel='stylesheet' href='<%=baseUrl%>build/style.css' />
    <meta name="viewport" content="width=device-width">
    <base href="<%=baseUrl%>" />
  </head>
  <body>

  <div class="container-fluid">
      <div class="view-frame" ui-view></div>
  </div>

  <script type="text/ng-template" id="service-detail.html">
    <%- include service-detail.html %>
  </script>

  <script type="text/ng-template" id="service-list.html">
    <%- include service-list.html %>
  </script>

  <script type="text/ng-template" id="service-edit.html">
    <%- include service-edit.html %>
  </script>

  <script type="text/ng-template" id="header.html">
    <%- include header.html %>
  </script>

  <script type="text/ng-template" id="ping-service-options.html">
    <%- include partials/ping-service-options.html %>
  </script>

  <span class="spinner" us-spinner="{radius:50, width:10, length: 50}" spinner-key="spinner-1"></span>

  <footer>
    <% if (user) { %>
      <script>window.isAdmin=<%=user.isAdmin%>;</script>
    <% } %>
    <a target="_blank" href="https://github.com/iloire/WatchMen">watchmen source code (github)</a> |
    author: <a target="_blank" href="http://iloire.com">iloire.com</a> | bitcoin: 1DQRybRW7cQtRq65qCxkpGNLX9BVjmfJaY
  </footer>

  <script src="<%=baseUrl%>build/scripts.js"></script>

  <% if (ga_analytics_ID) { %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8494798-11"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', '<%=ga_analytics_ID%>');
  </script>

  <% } %>

  </body>
</html>
